.header{
    border: 4px solid black;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
}
.header .logo{
    height: 50px;
    background-color: white;
    opacity: 0.4;
}
.title-container{
    color: rgba(255, 255, 255, 0.699);
      
}
.nav{
    margin-left: 200px;
    margin-top: 30px;
}
.nav li{
    display: inline;
    margin-left: 50px;
    
  }
  
  .nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
  }
  .Primary{
    width:120px;  
    border-radius: 18px;
  }
  .form{
      margin-top: -17px;
      margin-left: 15px;
  }
  .one{
      margin-left:-35px;
      margin-top: 10px;
  }
  .body-margin{
      margin-top:100px;
  }
  .fontSize{
      font-size:3rem;
  }
  .all-card{
      background-size: cover;
      width:100%;
      height: 65vh;
      background-position: center center;
      border-radius:15px;
  }
  .footer{
      margin-top:350px;
      color: white;
      margin-left: 10px;
      font-size:1.5rem;
  }